// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here

h1, h2, h3, h4, h5 {
	font-family: 'Domine', georgia, serif;
	color: $primary;
}

p, ul, ol {
	font-family: Open Sans,tahoma,geneva,sans-serif;
	font-size: 1.125rem;
    margin-bottom: 1.5rem;
}


article {
	margin: 0 4vw;
}

.entry-title {
	margin: 0 0 50px 0;
}

.home-block {
	margin: 20px;
	height: 300px;
	text-align: center;
	font-size: 2rem;
	border: 3px solid $blue;
	transition: all .4s ease;
}

.home-block:hover, .relation:hover, .card.fellow-facet:hover, .card.project-facet:hover, .card.partner-facet:hover {
  	transform: scale(1.02);
  	box-shadow: 6px 6px 5px $gray;
  	background-color: $light-blue;
}

.home-block a {
	text-decoration: none;
	font-family: 'Domine', georgia, serif;
}

.home-link {
	margin-top: 120px;
	display: block;
}

.btn-explore {
	width: 200px;
	display: block;
	margin: 30px auto;
	border-radius: 50px;
	padding: 10px;
	font-size: 1.3rem;
}

.relation {
	margin: 20px 0;
	transition: all .4s ease;
}

.relationship-img {
	border-radius: 50%;
	display: inline-block;
	margin: 20px;
}

.relation h3 {
	display: inline-block;
}


.fellow-img{
	display: block;
	border-radius: 50%;
	margin: 20px auto;	
	max-width: 80%;
	border: 3px solid #fff; 
    outline: 3px solid $primary;
}

.card.fellow-facet, .card.project-facet, .card.partner-facet, .relation {
	border-radius: 0;
	border-color: $primary;
	transition: all .4s ease;
	margin: 20px 0;
	background-color: #fff;
	border: 3px solid $primary;
}

.fellow-facet a, .project-facet a, .partner-facet .title, .relation a {
	font-size: 1.3rem;
	text-align: center;
	font-weight: 700;
	text-decoration: none;
	display: block;
	margin-bottom: 30px;
	font-family: 'Domine', georgia, serif;
}

.year {
	font-weight: 100;
	font-size: .8rem;
	margin: 15px;
	text-align: right;
}

.plain-page .content-area, .plain-page #right-sidebar, 
.fellow .content-area, .fellow #right-sidebar, 
.project .content-area, .project #right-sidebar{
	padding: 6vw;
}

#right-sidebar h2, #right-sidebar h3 {
	margin-top: 20px;
}

.relation {
	padding: 30px;
}

.relationship-img {
	border-radius: 50%;
	margin: 30px;	
	border: 3px solid #fff; 
    outline: 3px solid $primary;
}